.create-spot-page-container {
    margin-left: 27%;
    margin-right: 27%;
}

.create-spot-input-place {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 98%;
    height: 40px;
    border-color: lightgray;
    border-radius: 10px;
}

.create-spot-form-container {
    margin-left: 27%;
    margin-right: 27%;
}

.create-spot-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(255, 56, 92);
    color: white;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
}

.create-spot-h1 {
    margin-left: 27%;
}

.reservation-inputs-container {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.reservation-container-checkout {
    padding-left: 3%;
}

.reservation-container-checkout-outer {
    border-left: 1px solid black;
    padding: 3%
}

.reservation-container-checkin-outer {
    padding: 3%
}

.reservation-input {
    border: none;
    font-size: 15px;
}

.booking-create-button {
    margin-top: 8%;
    margin-bottom: 3%;
    border: none;
    background-color: rgb(255, 56, 92);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    padding-bottom: 4px;
    width: 100%;
}

.booking-create-notes {
   text-align: center;
}

.booking-create-form {
    border: 1px solid black;
    padding-top: 0;
    border-radius: 12px;
    margin-top: 6%;
}

.reservation-guests-input-container {
    padding: 3%;
}

.booking-words {
    font-size: 12px;
}

.price-calculation-listing {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    color: grey
}

.price-calculation-listing-bottom {
    margin-top: 3%;
    margin-bottom: 8%;
}

#price-calculation-result {
    margin-top: 8%;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

#number-of-night {
    font-weight: bold;
    font-size: 18px;
    color: black;
}
