.reviewsContainer {
height: 100px;
display: flex;
flex-direction: column;
align-items: flex-start;
margin-left: 25%;
margin-top: 30px;

  }

  .reviewName,
  .review_content {
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 17px;
  }
  .reviewDate{
    font-size: 14px
  }

.review_content{
  margin-left: 1px
}

  .reviewDeleteButton {
    background-color: rgb(233, 0, 0);
    color: white;
    border: white solid 1px;
    /* border-radius: 18px; */
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    width: 130px;
    margin-top: 5px;
  }

  .reviewDeleteButton:hover {
    cursor: pointer;
   background-color: white;
   color: rgb(233, 0, 0)
  }

  .reviewer{
    font-weight: 600;
  }
