.sign_up_container{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    /* margin-left:80px */
    width:500px;
    height:400px;
    border-radius:20px
}

.sign_up_words{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

input:focus {
    background-color: rgb(253, 240, 224)
  }


.firstname{
    margin: 5px;
}

.firstname_input{
    margin-left: 12px;
    border-radius: 15px;
    height: 25px;
    width: 180px;
}


.lastname{
    margin: 5px;
}

.lastname_input{
    margin-left: 12px;
    border-radius: 15px;
    height: 25px;
    width: 180px;

}

/* .email{
    margin: 5px;
} */

.email_input{
    margin-left: 55px;
    border-radius: 15px;
    height: 25px;
    width: 180px;
}

.username{
    margin: 5px;

}

.username_input{
    margin-left: 12px;
    border-radius: 15px;
    height: 25px;
    width: 180px;
}
/* .password{

    margin: 5px;
} */

.password_input{
    margin-left: 12px;
    border-radius: 15px;
    height: 25px;
    width: 180px;

}
.confirm_password{
    margin-right: 88px;
    margin-top: 5px;
}

.confirm_password_input{
    margin-left: 12px;
    border-radius: 15px;
    height: 25px;
    width: 180px;
}

.signup_button{
    width: 180px;
    margin-left: 180px;
    margin-top: 42px;
    background-color: rgb(232, 63, 92);
    color:white;
    border: 0;
    height: 23px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s ease;
    height: 28px;
    font-size: 16px;
}

.signup_Button:hover{
    background-color:red;
    color:white;
}

.signup_errors{
    list-style: none;
    color:red
}
