.sign_up_container{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    /* margin-left:80px */
    width:550px;
    height:500px;


}

.sign_up_words{
    text-align: center;
    font-size: 30px;
    padding: 50px;

}

input:focus {
    background-color: rgb(253, 240, 224)
  }


.firstname{
    margin: 15px;
}

.firstname_input{
    margin-left: 12px;
    border-radius: 10px;
    height: 25px;
    width: 200px;
}


.lastname{
    margin: 15px;
}

.lastname_input{
    margin-left: 12px;
    border-radius: 10px;
    height: 25px;
    width: 200px;

}

.email{
    margin: 15px;
}

.email_input{
    margin-left: 55px;
    border-radius: 10px;
    height: 25px;
    width: 200px;
}

.username{
    margin: 15px;

}

.username_input{
    margin-left: 12px;
    border-radius: 10px;
    height: 25px;
    width: 200px;
}
.password{

    margin: 15px;
}

.password_input{
    margin-left: 17px;
    border-radius: 10px;
    height: 25px;
    width: 200px;

}
.confirm_password{
   margin-left:-85px;
   margin-top: 15px
}

.confirm_password_input{
    margin-left: 15px;
    border-radius: 10px;
    height: 25px;
    width: 200px;
}

.signup_button{
    width: 180px;
    margin-left: 10px;
    margin-top: 42px;
    background-color: rgb(232, 63, 92);
    color: white;
    border: 0;
    height: 23px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s ease;
    height: 28px;
    font-size: 16px;
}

.signup_Button:hover{
    background-color:red;
    color:white;
}

.signup_errors{
    list-style: none;
    color:red
}
.signupButton {
   margin: 8px
}
