.editForm {
    height: 900px;
    width: 650px;
  }
.Edit{
  height: 800px;
  width: 650px;
  overflow: scroll;

}


  .editButton {
    background-color: rgb(233, 0, 0);
    color: white;
    border: white solid 1px;
    border-radius: 12px;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 105px;
    /* margin-bottom: 20px; */
  }

  .editButton:hover {
    cursor: pointer;
color: red;
background-color: white;
border: 1px solid grey
  }

  .editSubTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-weight: 550;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .editName,
  .editAddress,
  .editCity,
  .editState,
  .editCountry,
  .editLat,
  .editLng,
  .editDescription,
  .editPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: solid 1px lightslategray;
    border-radius: 8px;
    width: 530px;
    height: 30px;
    padding-left: 15px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .editSpotBut {
    background-color: rgb(233, 0, 0);
    color: white;
    border: white solid 1px;
    border-radius: 13px;
    font-size: 20px;
    font-weight: 750;
    height: 60px;
    width: 550px;
    margin-left: 50px;
  }
.editErrors{
font-size: 18px;
color: darkred;
display:block;
font-size: 16px;
border-radius: 8px;

}
.editError{
  list-style: none;
  color: red
}
