.SpotsTitle {
    display: flex;
    justify-content: center;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  .emptyBordersbu {
    margin-top: 2%;
    border: solid 1px rgb(230, 230, 230);
  }
