.my_spots_title {
    display: flex;
    justify-content: center;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
  }
.emptyBordercurrent{
  border: 1px solid rgb(230, 230, 230);
  margin-top: 10px;
  margin-bottom: 40px;
}
.no_spot_found{
  margin: 7% 38%;
  width: 500px
}
