.createReview {
    background-color: rgb(233, 0, 0);
    color: white;
    border: white solid 1px;
    border-radius: 18px;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 85px;
    margin-bottom: 20px;
    position: absolute;
  }

  .createReview:hover {
    cursor: pointer;
  }

  .reviewErrors {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-weight: 450;
  }

  .reviewErrors:hover {
    color: red;
    font-weight: 700;
  }

  .reviewForm {
    height: 350px;
    width: 630px;
  }

  .reviewHTitle {
      display: flex;
      justify-content: center;
      font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
      sans-serif;
      font-size: 18px;
      font-weight: 750;
      border: none;
      margin-top: 40px;
  }

  .userReview,
  .userStar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: solid 1px lightslategray;
    border-radius: 8px;
    width: 500px;
    height: 35px;
    padding-left: 15px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 30px;
    margin-left: 55px;
  }

  .userReview {
    margin-top: 6%;
    }

  .submitReview {
    background-color: rgb(233, 0, 0);
    color: white;
    border: white solid 1px;
    border-radius: 13px;
    font-size: 20px;
    font-weight: 750;
    height: 60px;
    width: 530px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .submitReview:hover {
    cursor: pointer;
  }

  .reviewButton {
    background-color: rgb(233, 0, 0);
    color:white;
    font-size: 20px;
    cursor: pointer;
    border: white solid 1px;
   padding: 8px 15px;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;

  }
.reviewButton:hover{
  color:rgb(233, 0, 0);
  background-color: white;
}
