.home-page-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 47px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    background-color: rgb(254, 254, 254);
    margin-top: 20px;
    border-top: 1px solid rgb(212, 211, 211);
    position: sticky;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.home-page-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    gap: 1.5rem;
    padding: 0 2rem;
}

.source-code {
    color: black;
    text-decoration: none;
}

.source-code:hover {
    cursor: pointer;
    color: gray;
}

.home-page-about .fa-github {
    font-size: 24px;
    color: black;
}

.linkedin-container a>.fa-linkedin,
.linkedin-container a>.fa-folder-open {
    font-size: 24px;
    color: black;
}

.connect-with-us-container {
    border-left: 1px solid rgb(212, 211, 211);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2em;
    padding: 0 2rem;
}

.connect-with-us-container .linkedin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.connect-with-us-container .linkedin-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}

.home-page-about a>.fa-github:hover,
.linkedin-container a>.fa-linkedin:hover,
.linkedin-container a>.fa-folder-open:hover {
    cursor: pointer;
    color: rgb(255, 57, 92);
}
