.outer-container{
    margin: 2% 14% 0 14%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    /* gap: 20px; */
    font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;

}
.most-inner-container{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0,1);
    margin-bottom: 20px

}
