.reservation-calendar-container {
    display: flex;
    margin-left: 300px
}

.reservation-calendar {

    padding-right: 10px;
    width: 30%;

}
.spot-show-calendar{
    margin-left: 300px
}

@media screen and (max-width: 1200px)  {
    .spot-show-container  {
        margin-right: 0%;
        margin-left: 0%;
    }

    .reservation-calendar-container {
        display: flex;
        flex-direction: column;
    }
}
