.nameSpot {
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
  }

  .ratingSpot {
    font-weight: 500;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .editDeleteSpot {
    padding: 20px;

  }

  .stateSpot {
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-weight: 500;

  }

  .fa-star {
    font-size: 15px;
    margin-top: 4px;
    padding-right: 3px;
  }

  .imgDivfs {
    display:flex;
    justify-content: center;
    height: 600px;
    width: 100%;
  }

  .imageSpotfs {
    height: 100%;
    width: 50%;
    border-radius: 20px;
  }



  .deleteButton {
    background-color: rgb(233, 0, 0);
    color: white;
    border: white solid 1px;
    border-radius: 18px;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 85px;

  }

  .deleteButton:hover {
    cursor: pointer;
    font-size: 17px;
    height: 40px;
    width: 90px;
  }

  .pricesSpot,
  .nightsSpot,
  .descriptSpot {
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
  }


  .nightsSpot {
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }



  .editDeleteSpot,
  .imgDiv

 {
    display: flex;
    justify-content: center;
  }
  /* .createReviewSpot{

  } */


  .emptyBorder {
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid 1px rgb(230, 230, 230);
    width: 480px
  }

  .allReviewSpot {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0.5%;
    margin-left: 24.5%;
    width: 52%;
    flex-direction: column;
  }

  .nameSpot {

    margin-left: 25%;
  }

  .outsideStar {
    display: flex;
    justify-content: flex-start;
    margin-right: 32%;
  }

  .bigStar {
    font-size: 23px;
  }

  .bottomAvgCount {
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
    sans-serif;
    font-size: 23px;
    margin-left: 25%;
  }
.bigStar {
  color: red;
}


 .priceSpot {
    font-weight: 500;
    font-size: 20px;

  }
.hostname{
  font-size: 17px;
  margin: 5px
}
.bottomText {
  display: ;
  justify-content: ;

}
.descriptSpot {
  margin: 10px;
font-size: 19px
}
.right_box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 align-items: space-between;
background-color: lavender;
margin-right: 10px;
margin-top: 70px;
border: 1px solid grey;
width: 350px;
height: 300px;
}
