.single_spot_infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0 2% ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
}

.nameSpot {

  font-size: 26px;
  font-weight: 500;
  margin-left: 25%;
  margin-bottom: 20px;
}

.rating_top_spot {
  font-weight: 500;
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-between;
  margin-bottom: 5px;

}

.editDeleteSpot {
  padding-top: 20px;

}

/* .stateSpot {

  font-weight: 500;
} */

.fa-star {
  font-size: 15px;
  margin-top: 1px;
  padding-right: 3px;
}

.imgDivfs {
  display:flex;
  justify-content: center;
  height: 600px;
  width: 100%;
  /* object-fit: cover; */
}

.imageSpotfs {
  height: 100%;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
}
/* .imageSpotfs:hover{
  filter: brightness(95%);
  transition-duration: 200ms
} */



.deleteButton {
  background-color: rgb(233, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 12px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  width: 100px;

}

.deleteButton:hover {
  cursor: pointer;
color: red;
background-color: white;
border: 1px solid grey
}

.pricesSpot,
.nightsSpot,
.descriptSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
}


.nightsSpot {
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}



.editDeleteSpot

{
  display: flex;
  margin-left: 25%;

}



.emptyBorder {
  margin-top: 10%;
  margin-bottom: 3%;
  border: solid 1px rgb(230, 230, 230);
  width: 580px
}
.emptyBorder1 {
  margin-top: 2%;
  margin-bottom: 3%;
  border: solid 1px rgb(230, 230, 230);
  width: 580px
}

.allReviewSpot {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.5%;
  margin-left: 24.5%;
  width: 52%;
  flex-direction: column;
}

/*  */

.outsideStar {
  display: flex;
  justify-content: flex-start;
  margin-right: 32%;
}

.bigStar {
  font-size: 23px;
}

.bottomAvgCount {

  font-size: 23px;
  margin-left: 25%;
}
.bigStar {
color: red;
}


.priceSpotfs {
  font-weight: 500;
  font-size: 20px;

}
.hostname{
font-size: 17px;
margin: 5px
}
/* .bottomText {
display: ;
justify-content: ;

} */
.descriptSpot {
margin: 10px;
font-size: 19px
}
.right_box{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: space-between;
background-color: lavender;
margin-right: 10px;
margin-top: 70px;
border: 1px solid grey;
width: 350px;
height: 300px;
}
