.Sign_up_container{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

.Sign_up_words{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

input:focus {
    background-color: rgb(253, 240, 224)
  }


.Firstname{
    margin: 5px;
}

.Firstname_Input{
    border-radius: 15px;
    height: 25px;
    width: 180px;
}


.Lastname{
    margin: 5px;
}

.Lastname_input{
    margin-left: 2px;
    border-radius: 15px;
    height: 25px;
    width: 180px;
}

.Email{
    margin: 5px;
    margin-right: 7px;
}

.Email_input{
    margin-left: 50px;
    border-radius: 15px;
    height: 25px;
    width: 180px;
}

.Username{
    margin: 5px;

}

.Username_input{
    margin-right: 1px;
    border-radius: 15px;
    height: 25px;
    width: 180px;
}

.Signup_Password_input{
    margin-left: 6px;
    border-radius: 15px;
    height: 25px;
    width: 180px;

}
.Confirm_Password{
    margin-right: 88px;
    margin-top: 5px;
}

.Confirm_Password_input{
    border-radius: 15px;
    height: 25px;
    width: 180px;
}

.Sign_up_Button{
    width: 180px;
    margin-left: 110px;
    margin-top: 12px;
    background-color: rgb(232, 63, 92);
    color:white;
    border: 0;
    height: 23px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s ease;
    height: 28px;
    font-size: 16px;
}

.Sign_up_Button:hover{
    background-color:red;
    color:white;
}

.Sign_up_errorlist{
    list-style: none;
    color:red
}
