.profile-dropdown{
    border: 2px solid rgb(213, 212, 212);
    border-radius: 10px;
    position: absolute;
    top: calc(90%);
    right: 30px;
    margin-top: 15px;
    height: 190px;
    width: 210px;
    box-shadow: 2px 2px 2px 0px rgba(195, 195, 195, 0.6);
    background-color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;

}
.profile-dropdown li{
    list-style: none;
    display: block;
    height: 25px;
    padding-left: 13px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
}
.profile-dropdown li:hover{
    background-color: lightgray;
    width:stretch;

}
.profile_username,
.profile_email,
.current_spot_link,
.current_review_link,
.logout_button{

font-size: 18px;

}
.profile_username,
.profile_email{

    cursor: not-allowed;
}

.current_spot_link,
.current_review_link{
    text-decoration: none;
    color: inherit
}

.Parent_navbar{
    position: sticky;
    top: 0px;
    /* border-bottom: 1px inset lightgray; */
    background-color: white;

}

.Navbar_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    margin-left: 46px;
    margin-right: 28px;
    margin-top:30px;
    /* padding-left:100px;
    padding-right: 130px */
}


.Nav_become_host_link{
color: black;
margin-right:18px;
padding: 10px 15px;
transition: all 1s ease;
font-size: 25px;
border-radius: 25px;
text-decoration: none;

}


.Nav_become_host_link:hover{
    background-color: rgb(211,211,211);

    transition: all 0.5s ease;

}

.Logout_button{
    border: none;
    text-decoration: none;
    /* outline-style:hidden; */
    background: none;
     /* margin-bottom: 5px; */
     transition: all 0.5s ease;
     margin-left: -3px;
     cursor:pointer;
     font-size: 18px;
     width:180px;
     text-align: left;
     /* border-radius: 20px; */
     /* margin-top: -2px; */

}





.list{
    list-style: none
}

.profile-button:hover{
    box-shadow: 3px 3px 10px rgba(46, 42, 42, 0.5);

    transition: all 0.5s ease;
}
.profile-button{
    padding:  10px 20px;
    position:relative;
    top: 8px;
    border-radius: 30px;
    background-color: white;
    /* border-color: rgb(244, 243, 243); */
    /* width: 30px; */
    height: 50px;
    /* outline-color: rgb(225, 217, 217); */
    border-top: 2px solid rgb(222, 219, 219);
    border-bottom: 2px solid rgb(222, 219, 219);
    border-left: 2px solid rgb(222, 219, 219);
    border-right: 2px solid rgb(222, 219, 219);
    cursor: pointer;
}
.fa-solid.fa-bars{
    position:relative;
    right: 5px;
    /* width: 20px;
    height: 20px; */
    font-size:20px;
    bottom: 5px
}

.fas.fa-user-circle{
    position:relative;
    font-size: 30px;
    left: 8px;
    color: rgba(100, 100, 100)
    /* width: 20px;
    height: 20px;*/
}

.loginSignUp{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logoD{
    width: 60px;
    height: 60px;
    margin-bottom:-19px;
    margin-right: -10px

}

.home_logo{
    display: flex;
    justify-content: center;
align-items: center;
}
.airdnd {
    display: inline-block;
    margin: 10px;
    font-size: 30px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    color: red;
    text-shadow: pink 2px 2px
}
