/* aaaaaaaaaa */
#modal-content {
    box-shadow: 5px 5px 5px rgba(247, 245, 245, 0.6);
    border-radius: 10px;
  }

  .Login_Container {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 100px auto;


  }

  .Username_Email {
    display: flex;
    line-height: 30px;
    margin-left: 70px;
    margin-right: 60px;
    margin-top: -50px;
    font-size: 17px;
  }

  .input:focus {
    background-color: rgb(253, 240, 224)
  }

  .input {
    border-radius: 15px;
  }

  .input_1{
    border-radius: 15px;
    height: 25px;
    font-size: 15px;
  }

  .Password {
    margin: 5px;
    margin-left: 70px;
    display: flex;
    line-height: 30px;
    font-size: 17px;
  }

  .login_login {
    margin-left: 70px;
    margin-bottom: 50px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(232, 63, 92);
    transition: all 1s ease;
    color: white;
    padding: 3px 5px;
  }

  .login_login:hover {
    background-color: red;
    color: white;
  }

  .fa-rocket {
    margin-left: 5px;
    transition: all 1s ease;
  }

  .fa-rocket:hover {
    transform: rotate(0.62turn);

  }

  .Login_Airbnb_logo {
    font-size: 15px;
    margin: 10px;
    margin-left: 20px;
    color: red;
    transition: all 1s ease;
  }


  .Login_Airbnb_logo:hover {
    transform: scale(1.1, 1.1);
    text-shadow: 5px 3px 3px rgba(34, 13, 220, 0.5);

  }

  .login_errorlist {
    list-style: none;
    color: red;
    margin-top: 30px;
    margin-right: 43px;
    font-size: 20px;
  }

  .login_error_container {
    display: flex;
    justify-content: center;
  }
