/*
#modal-content {
    box-shadow: 5px 5px 5px rgba(247, 245, 245, 0.6);
    border-radius: 10px;
  } */

  .login-container {
    width: 350px;
    height: 100px;

  }

   .username_email {
    display: flex;
    justify-content: center;
    margin-top: 5px
  }
  .password {
    display: flex;
    justify-content: center;
    margin-top: 5px
  }
  .userInput {
    font-size: 16px;
    border: solid 1px lightslategray;
    border-radius: 8px;
    width: 300px;
    height: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin: 3px
  }

  /* In Modal */
  .passwordInput {
    font-size: 16px;
    border: solid 1px lightslategray;
    border-radius: 8px;
    width: 300px;
    height: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin: 3px
  }

  /* .login_input{
    border-radius: 15px;
     height: 25px;
    font-size: 25px;
    margin: 5px 40px
  }

  .password {
    margin: 5px;
    margin-left: 70px;
    display: flex;
    line-height: 30px;
    font-size: 17px;

  } */

  .login_button {

    border-radius: 10px;
    cursor: pointer;
width: 330px;
    background-color: rgb(232, 63, 92);
    transition: all 1s ease;
    color: white;
   padding: 10px;
    font-size: 20px;
    font-weight: bold;
margin: 20px;
border: white solid 1px;
  }

  .login_button:hover {
    background-color:white;
color: red;
  }

  .website_title {
    font-size: 25px;
    margin-top:20px;
    margin-left: 145px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold
  }

  .login_errors{
    list-style: none;
    color: red;
    margin-top: 30px;
    margin-right: 43px;
    font-size: 20px;
  }

  .login_error_container {
    display: flex;
    justify-content: center;
  }
  .demo_button {

    border-radius: 10px;
    cursor: pointer;
width: 330px;
    background-color: rgb(232, 63, 92);
    transition: all 1s ease;
    color: white;
   padding: 10px;
    font-size: 20px;
    font-weight: bold;
margin: 20px;
border: white solid 1px;
  }

  .demo_button:hover {
    background-color:white;
color: red;
  }
  .login-form-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
   margin-left: 13px;
   margin-top: -12px;
    background-color:white;
    font-size: 15px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.login-form-close-btn:hover {
    background-color: red;

}

.loginButton{

  background-color: rgb(232, 63, 92);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-evenly;
  margin-right: 5px;
  margin-left: 30px;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #EBEBEB;

}


.loginButton:hover{
  background-color: white;
  color:rgb(232, 63, 92)
}
