/*
#modal-content {
    box-shadow: 5px 5px 5px rgba(247, 245, 245, 0.6);
    border-radius: 10px;
  } */

  .login_container {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 100px auto;

  }

  .username_email {
    display: flex;
    line-height: 30px;
    margin-left: 70px;
    margin-right: 60px;
    margin-top: -50px;
    font-size: 17px;
  }


  .login_input{
    /* border-radius: 15px; */
    height: 25px;
    font-size: 15px;
  }

  .password {
    margin: 5px;
    margin-left: 70px;
    display: flex;
    line-height: 30px;
    font-size: 17px;

  }

  .login_button {
    margin: 10% 36%;
width: 80px;
    border-radius: 10px;
    cursor: pointer;

    background-color:red;
    transition: all 1s ease;
    color: white;
   padding: 10px;
    font-size: 13px;
    font-weight: bold;

  }

  .login_button:hover {
    background-color:maroon;

  }

  .website_title {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 25px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold
  }

  .login_errors{
    list-style: none;
    color: red;
    margin-top: 30px;
    margin-right: 43px;
    font-size: 20px;
  }

  .login_error_container {
    display: flex;
    justify-content: center;
  }
